body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: rgb(192, 201, 158)
}

header {
  background-color: rgb(61, 60, 73);
  padding-top: 3px;
  padding-bottom: 15px;
  text-align: center;
  color: rgb(235, 235, 235);
  border-radius: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

#PhotoDeMoi {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 40px;
}




/* Style de base pour la liste */
#menu ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


/* Style du conteneur du menu */
#menu {
  position: sticky;
  margin-right: auto;
  margin-top: 1px;
  margin-left: auto;
  width: 100%; /* Largeur totale */
}

/* Style de la liste */
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Style des onglets */
#menu ul li {
  margin-right: 10px; /* Espace entre les onglets */
}

/* Style des liens */
#menu ul li a {
  background-color: rgb(61, 60, 73);
  text-decoration: none;
  color: white; /* Couleur du texte */
  padding: 12px 20px; /* Espace intérieur plus grand */
  border: 1px solid rgb(61, 60, 73); /* Bordure */
  border-radius: 15px; /* Coins arrondis */
  transition: all 0.3s ease; /* Animation de transition */
}

/* Style au survol */
#menu ul li a:hover {
  background-color: #848484; /* Couleur de fond au survol */
}

/* Style pour l'onglet actif */
#menu ul li a.active {
  background-color: #494949; /* Couleur de fond de l'onglet actif */
  color: #000000; /* Couleur du texte de l'onglet actif */
}

section {
  max-width: 1400px;
  margin: 2em auto;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}





/** Style pour le Rep */
.Rep {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Rep p {
  font-size: 20px;
}
.Rep img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Rep {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}


/** Style pour le NSI1 */
.NSI1 {
margin-top: 40px;
display: flex; /* Utilisation de flexbox pour le placement des éléments */
align-items: center; /* Alignement vertical au début de la hauteur de l'image */
text-align: left;
}
.NSI1 p {
font-size: 20px;
}
.NSI1 img {
max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.NSI1 {
display: flex; /* Utilisation de flexbox pour le placement des éléments */
align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}

/** Style pour le télé */
.télé {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
  }
.télé p {
  font-size: 20px;
  }
.télé img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
  }
.télé {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  }




/** Style pour le Debian */
.Debian {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Debian p {
  font-size: 20px;
}
.Debian img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Debian {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}



/** Style pour le Linux */
.Linux {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Linux p {
  font-size: 20px;
}
.Linux img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Linux {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}


/** Style pour le Télé */
.Télé {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Télé p {
  font-size: 20px;
}
.Télé img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Télé {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}



/** Style pour le Web */
.Web {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Web p {
  font-size: 20px;
}
.Web img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Web {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}



/** Style pour le Qual1 */
.Qual1 {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Qual1 p {
  font-size: 20px;
}
.Qual1 img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Qual1 {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}




/** Style pour le Rallye */
.Rallye {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Rallye p {
  font-size: 20px;
}
.Rallye img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Rallye {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}


/** Style pour le Muscu */
.Muscu {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Muscu p {
  font-size: 20px;
}
.Muscu img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Muscu {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}

/** Style pour le Manga */
.Manga {
  margin-top: 40px;
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
  text-align: left;
}
.Manga p {
  font-size: 20px;
}
.Manga img {
  max-width: 30%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  margin-right: 20px; /* Marge à droite pour séparer l'image du texte */
}
.Manga {
  display: flex; /* Utilisation de flexbox pour le placement des éléments */
  align-items: center; /* Alignement vertical au début de la hauteur de l'image */
}






img {
  max-width: 100%;
}

#a-propos-de-moi {
  background-color: rgb(236, 231, 231);
  font-size: 20px;
}

#formation {
  background-color: rgb(236, 231, 231);
  font-size: 20px;
}

#experience-professionnelles {
  background-color: rgb(236, 231, 231);
  font-size: 20px;
}

#competence-technique-et-qualite {
  background-color: rgb(236, 231, 231);
}

#projet-techniques-et-personnel {
  background-color: rgb(236, 231, 231);
}

#divers {
  background-color: rgb(236, 231, 231);
}

#cv {
  background-color: rgb(236, 231, 231);
}

#contact {
  background-color: rgb(236, 231, 231);
}

footer {
  padding: 30px;
  text-align: center;
  background-color: rgb(61, 60, 73);
  color: #fff;
}
#menu ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


